# CONFIGURACIÓN API BACKEND
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000

# config mapi
NEXT_PUBLIC_ORS_API_KEY=api-key-secretisima-no-vaya-a-ser-que-suba-mis-credenciales-a-github
# NEXT_PUBLIC_ENABLE_PAYLOAD_ENCRYPTION