.DS_Store
Thumbs.db
desktop.ini
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
venv/
env/
.venv/
.env
.env.*
!*.env.example
local_settings.py
settings_local.py
*.cache
.cache/
node_modules/
npm-debug.log*
pnpm-lock.yaml
build/
dist/
.vscode/
.idea/
.next/
db.sqlite3
logs/*
logs/*

.agents
.github
